<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div>
         <! --a header image here -->
        <img src="{{ url_for('static', filename='images/screenshot00.jpg') }}">
    </div>

    <div>
        <h1>CosMyc Arcade or whatever</h1>
        <a href="{{url_for('play_cosmycarcade')}}">Play The Game here dawg</a>
    </div>

     <! -- this as a generic little blurb template -->
    <div>
        <h2>title</h2>
        <p> a blurb about the game</p>
    </div>

    <div>
         <! -- a slide show type of image gallery here -->
        <img src="{{ url_for('static', filename='images/screenshot00.jpg') }}">
        <br>
        <img src="{{ url_for('static', filename='images/screenshot01.jpg') }}">
    </div>

    <div>
        <h2>title</h2>
        <p> a blurb about the game</p>
    </div>

    <div>
        <h2>title</h2>
        <p> a blurb about the game</p>
    </div>

     <! -- email form, this will change a bit but its basically gunna be this -->
    <div>
         <h2>Send me an email about this shit</h2>
        <form action=""
        method="POST"
        enctype="multipart/form-data"
        name="EmailForm">
            Name:<br>
            <input type="text" size="19" name="Contact-Name"><br><br>
            Email:<br>
            <input type="email" name="Contact-Email"><br><br>
            Message:<br>
            <textarea name="Contact-Message" rows="6″ cols="20″>
            </textarea><br><br>
            <button type="submit" value="Submit">Send</button>
        </form>
    </div>

</body>
</html>